%div.sixteen.columns
	%h2	Here are some lyrics that could be by #{@artist.gsub("_"," ")}
.clear
- source = open("http://monks.co/up/GibGen.js").read
- context = ExecJS.compile(source)
%ul#lyrics
	- context.eval("generate_gibberish('#{@lyrics}',7)").split(/[\.\!\?]+[ \t]/).each do |lyric|
		- if ( lyric.length >= 2 && lyric.length <= 140 )
			.eight.columns.lyric
				.lyrictext
					= lyric