%h3	Here are some lyrics that could be by #{@artist.name.titlecase}
- source = open("http://monks.co/up/GibGen.js").read
- context = ExecJS.compile(source)
%ul#lyrics
	- output = context.eval("generate_gibberish('#{@artist.lyrics}',7)").split(/[\.\!\?]+[ \t]/)
	- output.each_with_index do |lyric, index|
		- if ( lyric.length >= 2 && lyric.length <= 140 && index != output.length - 1)
			%li.lyric
				= lyric