!!!
%html
	%head
		%title Markov Based Lyrics Generator
		%link{:href=>"/stylesheets/base.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/skeleton.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/layout.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/style.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		:plain
			<script type="text/javascript" src="//use.typekit.net/ixj2xbs.js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-22952798-8', 'monks.co');
			  ga('send', 'pageview');

			</script>
	%body
		.container
			.header.sixteen.columns
				:markdown
					# Lyric Generator
					## "Got my gold grill because you ain't you"
			.ten.columns
				= yield
			.five.columns.offset-by-one
				%form{:method => "post"}
					%h3 Try Anyone:
					%input{:type => "text", :name => "artist", :id => "artist", :value => "Lil B"}
				:markdown
					I can generate fake lyrics by any artist, but I was made for *Lil B*.

					Type an artist above, and if I've heard of them, I'll show you some fake lyrics. If I haven't heard of them, I'll download all their lyrics from [lyricswiki](http://lyrics.wikia.com) and once I'm done I'll be able to generate fake lyrics for them too.

					I work using [Markov Chains](http://en.wikipedia.org/wiki/Markov_chains). I'll read through all of someone's lyrics, and figure out which words are most likely to follow other words. To generate a new fake line, I'll pick a starting word and then use those probabilities to pick other words to come after it.
				.footer
					:markdown
						&copy; [Andrew Monks](http://monks.co) 2013

						Catch me on that [Github](https://github.com/andrewjmonks/lilb-gen) swag