!!!
%html
	%head
		%title Markov Based Lyrics Generator
		%link{:href=>"/stylesheets/base.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/skeleton.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/layout.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/style.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
	%body
		.container
			.header.sixteen.columns
				%h1 LYRIC GENERATOR
			.ten.columns
				= yield
			.six.columns
				%h3 Artist
				%form{:method => "post"}
					%input{:type => "text", :name => "artist", :id => "artist", :value => "#{@artist.name}"}
				:markdown
					I can generate fake lyrics by any artist, but I was made for *Lil B*.

					Type an artist above, and if I've heard of them, I'll show you some fake lyrics. If I haven't heard of them, I'll download all their lyrics from [lyricswiki](http://lyrics.wikia.com) and once I'm done I'll be able to generate fake lyrics for them too.

					I work using [Markov Chains](http://en.wikipedia.org/wiki/Markov_chains). I'll read through all of someone's lyrics, and figure out which words are most likely to follow other words. To generate a new fake line, I'll pick a starting word and then use those probabilities to pick other words to come after it.
			.clear
			.footer
				:markdown
					&copy; [Andrew Monks](http://monks.co) 2013