!!!
%html
	%head
		%title Sknom Werdna
		%link{:href=>"/stylesheets/base.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/skeleton.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/layout.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		%link{:href=>"/stylesheets/style.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
		:plain
			<script type="text/javascript" src="//use.typekit.net/lvi2sdqi .js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
			<script type="text/javascript">
				var _gaq = _gaq || [];
			 	_gaq.push(['_setAccount', 'UA-22952798-7']);
				_gaq.push(['_trackPageview']);

				(function() {
				  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
	%body
		.topbar
		.container
			.header.sixteen.columns
				%img.headerimg{:src=>"/images/cover.jpg", :alt=>"Sknom Werdna"}
				%h2 Now even you can sound like Andrew Monks on Facebook!
			%div.sixteen.columns
				:markdown
					Below are some status updates generated using [Markov Chains](http://en.wikipedia.org/wiki/Markov_chain) using my own status updates as source material. Click 'post' to post one to your own Facebook page. 

					For some reason the first few statuses you try to post might not work, but keep trying and it'll kick in eventually.
			.clear
			= yield
			.clear
			.footer
				:markdown
					&copy; [Andrew Monks](http://monks.co) 2013