%h3 I haven't heard of #{@artist.name.split('_').map(&:capitalize).join(' ')} before, but I'll look them up.
:markdown
	I'm gonna work my way through #{@artist.name.split('_').map(&:capitalize).join(' ')}'s lyrics, and if you check back later I'll come up with something. In the mean time, check out some artists that I *have* heard of.
%ul
	- @allartists.each do |artist|
		- if artist.lyrics.length >= 5
			%li
				%a{:href=>"/#{artist.name}"}
					= artist.name