%h3 I've heard of #{@artist.name}, but I haven't quite finished downloading their lyrics.
:markdown
	I'm gonna work my way through #{@artist.name}'s lyrics, and if you check back later I'll come up with something. In the mean time, check out some artists that I *have* heard of.
%ul
	- @allartists.each do |artist|
		- if artist.lyrics.length >= 5
			%li
				%a{:href=>"/#{artist.name}"}
					= artist.name