.form
	width: 100%
.input
	width: 100%
h1, h3
	font-family: "ff-prater-serif-web",sans-serif
	font-style: normal
	font-weight: 400
body
	font-family: "proxima-nova",sans-serif
	font-style: normal
	font-weight: 400
.header
	padding-top: 100px
	padding-bottom: 50px